<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
	<resultMap id="userResult" type="com.ittx.mybatis.demo1.model.User">
		<id property="id" column="id" jdbcType="INTEGER"/>
		<result property="name" column="name" jdbcType="VARCHAR"/>
		<result property="age" column="age" jdbcType="INTEGER"/>
	</resultMap>
	
	<select id="selectUserByID" parameterType="int" resultMap="userResult">
		select * from mybatis_user where id = #{id}
	</select>
	
	<insert id="insertUser" parameterType="com.ittx.mybatis.demo1.model.User" useGeneratedKeys="true" keyProperty="id">
		insert into mybatis_user (name,age)values(#{name},#{age})
	</insert>
	
	<delete id="deleteUserById" parameterType="int">
		delete from mybatis_user where id=#{id}
	</delete>
	
	<update id="updateUser" parameterType="com.ittx.mybatis.demo1.model.User">
		update mybatis_user set name=#{name} , age=#{age} where id=#{id}
	</update>
</mapper>